@import "command.less";

#navigation #id_nav1 ul.navmenu li a {
    .add-style-of-navbar-button-text;
}
#navigation #id_nav1 ul.navmenu li a:hover, #navigation #id_nav1 ul.navmenu li a:focus {
    .add-style-of-navbar-button-text-hover !important;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
    background: transparent !important;
    box-shadow: none !important;
    text-decoration: none !important;
    padding-left: 15px;
}
#portal-searchbox #LSResult {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
#navigation #id_nav1 ul.navmenu li ul.submenu li a {
    padding: 6px;
    white-space: nowrap;
}
.navbar-toggle .icon-bar{
    background: none repeat scroll 0 0 gray;
}
#navigation #id_nav1 {
    .add-main-of-navbar;
}
#viewlet-above-content .carousel .carousel-banners .carousel-banner span.carousel-image img {
    max-width: 100% !important; 
    height: auto !important;
}
#navigation #id_nav1 ul.navmenu li ul.submenu {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0;
    z-index: 998; 
    transition: all 0.8s ease 0.8s;
    min-width: 200px;
}
.breadcrumb-wrapper .breadcrumb{
    display: block;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li:last-child { 
    padding-bottom: 10px;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li {
    padding-top: 10px;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li a { 
    padding-left: 10px;
}
#footer-wrapper #colophone .colophone-inner{
    padding-top: 10px;
}
@media (max-width: 1600px) and (min-width: 1301px) { 
    
}
@media (max-width: 1300px) and (min-width: 1201px) {

}
@media (max-width: 1200px) and (min-width: 981px) {

}
@media (max-width: 980px) and (min-width: 801px) {

}
@media (max-width: 800px) and (min-width: 768px) {
   
}
@media (max-width: 767px) and (min-width: 481px) {    
    ul.navmenu li{
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 480px) and (min-width: 1px) {
    ul.navmenu li{
        text-align: center;
        width: 100%;
    }
    .documentEditable #content .listing-summary figure img {
        width: 100% !important;
    }
}
