// -----Text-----
@main-color: #707070;
@header-listing: #A3A1A1;
@header-listing-hover: #449404;
@link: @main-color ;
@link-hover: #FF8000;
@text-colophone: #e6e6e6;
// -----Background-----
@bg-main: #fff;
@bg-doormat: #f2f2f2;
@bg-colophone: #333;

// ----- Menu -----
@color-background-menu: @bg-main;
@color-background-menu-button: @bg-main;
@color-font-menu: @main-color;
@color-background-breadcrumb: @bg-main;
@color-text-breadcrumb: @bg-main;
@color-background-portlet-header: @bg-main;
@color-background-portlet-calendar: @bg-main;

    // ----- Hover,Focus -----
    @color-font-menu-hover: @main-color;
    @color-background-menu-button-hover: @bg-main;
    @color-text-breadcrumb-hover: @link-hover;
    
// -----Text/Background -----
@color-header-recent: @header-listing;
@color-first-heading: @header-listing;
@color-of-description: @header-listing;
@color-h1: @header-listing;
@color-h2: @header-listing;
@color-h3: @main-color;
@color-h4: @main-color;
@color-p: @main-color;
@color-span: @main-color;
@color-link: @link;
@color-of-strong: @main-color;
@color-label-horizontal: @main-color;
@color-span-form: @main-color;
    // ----- Hover,Focus -----
    @color-link-hover: @link-hover;

// ----- Footer Text/Background -----
@color-background-footer: @bg-doormat;
@color-background-footer-inner: @bg-doormat;
@color-h2-doormat: @header-listing;
@color-h3-section: @header-listing;
@color-doormat: @main-color;
@color-SectionHeader: @main-color;

// ----- Colophone Text/Background -----
@color-background-colophone: @bg-colophone;
@color-background-colophone-inner: @bg-colophone;
@color-colophone: @text-colophone;
@color-link-colophone: @link;
    // ----- Hover,Focus -----
    @color-link-colophone-hover: @link-hover;

// ----- gradient-background -----
.gradient-background (@origin: left, @start: #EFFBF8, @stop: #FBF5EF) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}


