@import "command.less";

#global-wrapper #wrapper-inner #navigation #id_nav1 ul.navmenu li a:hover,#global-wrapper #wrapper-inner #navigation #id_nav1 ul.navmenu li a:focus {

}
.mlsec_latest-listings .listing-collection-tile .collection-item .price .item-heading {
    display: none;
}
.mlsec_latest-listings .listing-collection-tile .collection-item .beds_baths .item-heading {
    background-image: url("../images/icons/bedbath.png");
    background-position: -5px center;
    height: 20px;
    margin-right: 10px;
    text-indent: -9999px;
    white-space: nowrap;
    width: 55px !important;
}
.mlsec_latest-listings .listing-collection-tile .collection-item .beds_baths {
    margin-top: 5px;
}
.mlsec_latest-listings .listing-collection-tile .collection-item .location .item-heading {
    background-image: url("../images/icons/bubble-address.png");
    background-position: -10px center;
    height: 22px;
    margin-right: 3px;
    text-indent: -9999px;
    white-space: nowrap;
    width: 28px !important;
}
.mlsec_latest-listings .listing-collection-tile .collection-item .location {
    margin-top: 5px;
}
#navigation #id_nav1 ul.navmenu li a {
    .add-style-of-navbar-button-text;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
    box-shadow: none !important;
    text-decoration: none !important;
}
label.horizontal.collapser.collapsed {
    padding-right: 14px;
}
label.horizontal.collapser.expanded {
    padding-right: 14px;
}
#portal-searchbox #LSResult {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
#navigation #id_nav1 ul.navmenu li ul.submenu li a {
    padding: 6px;
    white-space: nowrap;
}
#navigation #id_nav1.navbar-collapse {
    .add-main-of-navbar;
}
#viewlet-above-content .carousel .carousel-banners .carousel-banner span.carousel-image img {
    max-width: 100% !important; 
    height: auto !important;
}
#navigation #id_nav1 ul.navmenu li ul.submenu {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0;
    z-index: 998; 
    .transition;
    min-width: 200px;
}
.breadcrumb-wrapper .breadcrumb{
    display: block;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li:last-child { 
    padding-bottom: 10px;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li {
    padding-top: 10px;
    position: relative;
}
#navigation #id_nav1 ul.navmenu li ul.submenu li a { 
    padding-left: 10px;
}
#footer-wrapper #colophone .colophone-inner{
    padding-top: 10px;
}
a.facebook:hover ,a.facebook:focus {
    padding-right: 30px !important;
}
a.twitter:hover ,a.twitter:focus {
    padding-right: 30px !important;
}
a.google:hover ,a.google:focus {
    padding-right: 30px !important;
}
.site-social-switch a.active{
    background-image: url("../images/social-hide.png");
    margin-left: -26px;
}
.site-social-switch {
    position: fixed;
    top: 411px;
    z-index: 9999;
    a {
        .transition;
        background-image: url("../images/social-show.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 48px 20px;
        display: block;
        width: 40px;
    }
}
#global-wrapper .site-social.site-close {
    left: -60px;
}
.site-social {
    left: 0;
    position: fixed;
    top: 250px;
    z-index: 9999;
    display: block;
    width: 6%;
    .transition;
    a.facebook {
        background-image: url("../images/icons/fb.png");
        padding: 17px 23px;
        float: left;
        width: auto;
        .transition;
    }
    a.twitter {
        background-image: url("../images/icons/twitter.png");
        padding: 17px 23px;
        float: left;
        width: auto;
        .transition;
    }
    a.google {
        background-image: url("../images/icons/google.png");
        padding: 17px 23px;
        float: left;
        width: auto;
        .transition;
    }
}
.site-email {
    background-image: url("../images/icons/mail-gray.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 17px 11px;
    float: left;
    margin-left: 77px;
    padding-left: 24px;
    width: auto;
}
.site-phone {
    background-image: url("../images/icons/cell-phone-gray.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 20px;
    float: left;
    margin-left: 94px;
    padding-left: 17px;
    width: auto;
}
.logo-wrapper .logo {
    float: left;
    max-width: 100%;
}
.logo-wrapper .info{
    float: left;
    margin-top: 15px;
}   
#portal-searchbox {
    bottom: 0;
    position: absolute;
    right: 0;
}
@media (max-width: 1600px) and (min-width: 1301px) { 
    #navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
        padding-left: 15px;
    }
    .logo-wrapper .info{
        width: 50%;
    }    
    .portaltype-collective-cover-content .cell.width-6.position-10 {
        margin-left: -38.4%;
        width: 30%;
    }
    .portaltype-collective-cover-content .cell.width-10.position-0 {
        width: 59%;
    }
}
@media (max-width: 1300px) and (min-width: 1201px) {
    #navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
        padding-left: 15px;
    }
    .logo-wrapper .info{
        width: 50%;
    }
    .portaltype-collective-cover-content .cell.width-6.position-10 {
        margin-left: -38.4%;
        width: 30%;
    }
    .portaltype-collective-cover-content .cell.width-10.position-0 {
        width: 59%;
    }
}
@media (max-width: 1200px) and (min-width: 981px) {
    #navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
        padding-left: 15px;
    }
    .logo-wrapper .info{
        width: 480px;
    }
    .site-phone {
        padding-left: 24px !important;
        margin-left: 35px !important;
    }
    .site-email {
        margin-left: 35px !important;
        padding-left: 26px !important;
    }
}
@media (max-width: 980px) and (min-width: 801px) {
    #navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
        padding-left: 15px;
    }
    .logo-wrapper .info{
        width: 48%;
        float: left;
    }
    #portal-searchbox {
        left: 69%
    }
    .site-phone {
        padding-left: 24px !important;
        margin-left: 35px !important;
    }
    .site-email {
        margin-left: 35px !important;
        padding-left: 26px !important;
    }
}
@media (max-width: 800px) and (min-width: 768px) {
    #navigation #id_nav1 ul.navmenu li ul.submenu li a:hover, #navigation #id_nav1 ul.navmenu li ul.submenu li a:focus{
        padding-left: 15px;
    }
    .logo-wrapper .info{
        width: 48%;
    }
    #portal-searchbox {
        left: 70%
    }
    .site-phone {
        padding-left: 24px !important;
        margin-left: 35px !important;
    }
    .site-email {
        margin-left: 35px !important;
        padding-left: 26px !important;
    }
}
@media (max-width: 767px) and (min-width: 481px) {    
    .language-switcher #portal-languageselector{
        top: -8px;
    }
    .navbar-collapse .navmenu li ul.submenu {
        position: static;
        .transition;
    }
    .navbar-collapse .navmenu li ul.submenu li a:hover,.navbar-collapse .navmenu li ul.submenu li a:focus {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu {
        position: absolute;
        top: 38px;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu .submenu {
        position: relative;
        top: 0;
        left: 0;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu .hasDropDown {
         background: url("../images/arrow-bottom-black.png") no-repeat scroll right center rgba(0, 0, 0, 0);
         padding-right: 16px;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu .hasDropDown:hover, #navigation #id_nav1 ul.navmenu li ul.submenu .hasDropDown:focus {
         background: url("../images/arrow-bottom-black-90.png") no-repeat scroll right center rgba(0, 0, 0, 0) !important;
         padding-right: 16px;
         border: none !important;
    }
    .navbar-collapse .navmenu li ul.submenu li a:hover,.navbar-collapse .navmenu li ul.submenu li a:focus {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
    }
    .logo-wrapper .logo{
        text-align: center;  
        float: none;
    }
    .logo-wrapper .info{
        width: 100%;
        text-align: center;
    }
    .logo-wrapper .info .site-email{
        margin-top: 20px;
        float: none;
    }
    .logo-wrapper .info .site-phone{
        margin-top: 20px;
        float: none;
    }
    ul.navmenu li{
        text-align: center;
        width: 100%;
    }
    #portal-searchbox {
        display: none;
    }
    .site-phone {
        padding-left: 24px !important;
        margin-left: 35px !important;
        width: 142px;
    }
    .site-email {
        margin-left: 14px !important;
        padding-left: 26px !important;
        width: 180px;
    }
    .logo-wrapper .info .site-phone {
        float: left !important;
    }
    .logo-wrapper .info .site-email {
        float: left !important;    
    }
}
@media (max-width: 480px) and (min-width: 1px) {
    .language-switcher #portal-languageselector{
        top: -8px;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu {
        position: absolute;
        top: 38px;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu .submenu {
        position: relative;
        top: 0;
        left: 0;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu .hasDropDown {
         padding-right: 16px;
    }
    #navigation #id_nav1 ul.navmenu li ul.submenu .hasDropDown:hover, #navigation #id_nav1 ul.navmenu li ul.submenu .hasDropDown:focus {
         padding-right: 16px;
         border: none !important;
    }
    .navbar-collapse .navmenu li ul.submenu li a:hover,.navbar-collapse .navmenu li ul.submenu li a:focus {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
    }
    .logo-wrapper .logo{
        text-align: left;  
        float: none;
    }
    .logo-wrapper .info{
        width: 100%;
        text-align: left;
    }
    .logo-wrapper .info .site-email{
        margin-top: 20px;
        float: none;
        margin-left: 8px;
    }
    .logo-wrapper .info .site-phone{
        margin-top: 20px;
        float: none;
        margin-left: 8px;
    }
    #portal-searchbox {
        display: none;
    }
    ul.navmenu li{
        text-align: center;
        width: 100%;
    }
    .documentEditable #content .listing-summary figure img {
        width: 100% !important;
    }
    .site-phone {
        padding-left: 24px !important;
        margin-left: 35px !important;
    }
    .site-email {
        margin-left: 35px !important;
        padding-left: 26px !important;
    }
}
